body{
    background-color:rgba(52, 50, 50, 1) ;
    
    }
.ok{
    background: green;
}

.box{
    display: flex;
    flex-wrap: nowrap;
    
}

.tovar{
    max-width: 250px;
}

.fff{ 
    text-align: center 
}