body{
    background-color:rgba(52, 50, 50, 1) ;
    
    }
.ok{
    background: green;
}

.aaaaa{
    display: flex;
    flex-wrap: wrap;

    
}



.fff{ 
    text-align: center 
}

.jpgr{
    width: 180px;
    height: 180px;
}